# https://marcusb.org/posts/2025/01/frictionless-dotfile-management-with-chezmoi/

pager = "less -R"
encryption = "gpg"

[add]
  secrets = "error"
[edit]
  apply = "true"
[git]
  autoCommit = true
  autoPush = true
[gpg]
  recipient = "patrick@tekktonaut.com"
[hooks.edit-config-template]
  command = "chezmoi"
  args = ["init"]
